# Pastas
__pycache__/

prints/

env_spotbot/

# Arquivos de configuração local
.env
.key

# Logs
*.log

# Planilhas de resultados
*.xlsx
*.csv

# Outros arquivos temporários
*.pyc
*.pyo
last_sync_time.txt