# Pastas
__pycache__/

.vscode/

BKPs/

doc/

env_spotbot/

prints/

ref/

# Arquivos de configuração local
.env

# Logs
*.log

# Planilhas de resultados
*.xlsx

# Outros arquivos temporários
*.pyc
*.pyo
last_sync_time.txt

# Outros/testes
mouse_position.py
