# Pastas
__pycache__/

BKPs/

doc/

env_spotbot/

ref/

# Arquivos de configuração local
.env

# Logs
*.log

# Planilhas de resultados
*.xlsx

# Outros arquivos temporários
*.pyc
*.pyo
last_sync_time.txt